*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
 font-size: 62.5%;
 scroll-behavior: smooth; 
}
:root{
  --main-color: #283526;
  --primry-color: #888888;
  --button-background: #4b709e;
  --primary-button-background: #fe7649;
  --background-color: #f0f7ff;
}
h1,h2{
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
h3{
  font-weight: 750;
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;
}

p,a,li,button{
  font-family: 'Mulish', sans-serif;
  color: var(--primry-color);
}
p{
  font-size: 1.3rem;
  line-height: 120%;
  font-style: normal;
  font-weight: normal;
}
a{
  text-decoration: none;
  cursor: pointer;
}
li{
  list-style: none;
}
button{
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  line-height: 3.6rem;
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
}

/* -----------------------------------------------start main css 
------------------------------------------------------------------------------------------------*/
header{
  padding: 0 10rem;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12rem;
}
header nav .left-side{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
header nav .left-side a img{
  width: 13rem;
}

header nav .left-side .sub-menu{
  display: flex;
  font-size: 2rem;
}
header nav .left-side .sub-menu a{
  margin-right: 4rem;
}
header nav .left-side .sub-menu a li{
  line-height: 3.6;
  transition: all 0.2s;
  text-transform: capitalize;
}
header nav .left-side .sub-menu a li:hover{
  color: var(--button-background);
}

/* ----------nav right side --------------------------------
-----------------------------------------------------------*/

header nav .right-side {
  width: 50%;
  /* background-color: rgba(65, 67, 70, 0.062); */
}
header nav .right-side .sub-menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .right-side .sub-menu a{
  font-size: 2rem;
  margin-right: 8rem;
  padding: 0.7rem 2rem;
  background-color: rgba(238, 235, 235, 0.5);
  
  border-radius: 1rem;
  line-height: inherit;
  position: relative;
  z-index: 10;

}

header nav .right-side .sub-menu button{
  background-color: var(--button-background);
  color: #fff;
  padding: 0.5rem 2.5rem;
  transition: all 0.2s;
  position: relative;
  z-index: 10;

}
header nav .right-side .sub-menu button:hover{
  background-color: #1b3d68;
}
header nav .right-side .sub-menu a:hover{
  color: var(--button-background);
}
/*------------------------------------- our main hero section started from here *
--------------------------------------------------------------------------------------------------------------*/
/*------------------------------ .left-side */
.main-hero{
  padding: 0rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-hero .left-side{
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-hero .left-side h1{
  font-size: 4.5rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
  width: 45rem;
}
.main-hero .left-side p{
  margin-bottom: 3rem;
  width: 35rem;
}
.main-hero .left-side .icon{
  display: flex;
  justify-content: flex-start;
}
.main-hero .left-side a img {
  width: 12rem;
  
}
.main-hero .left-side #appale img{
  margin-right: 3rem;
}
/*-------------------------------------- .right-side */
.main-hero .right-side{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#c3d6ec79 ;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 60px 10px 0px 60px;
}
.main-hero .right-side img {
  width: 65rem;
  margin-top: 10rem;
  margin-right: 30rem;
}

